@font-face { 
  font-family: "Gyre Adventor";
  src: url("assets/font/texgyreadventor-regular.otf"); 
  font-style: normal;
}

@font-face { 
  font-family: "Gyre Adventor";
  src: url("assets/font/texgyreadventor-bold.otf"); 
  font-style: normal;
  font-weight: bold;
}

@font-face { 
  font-family: "Gyre Adventor";
  src: url("assets/font/texgyreadventor-bolditalic.otf"); 
  font-style: italic;
  font-weight: bold;
}

@font-face { 
  font-family: "Gyre Adventor";
  src: url("assets/font/texgyreadventor-italic.otf"); 
  font-style: italic;
}

a {
  color: #fff;
}

a:hover {
  color: #FED670;
}

body {
  font-family: 'Gyre Adventor', sans-serif;
  background: linear-gradient(90deg, #1B1657 0%, #5326EC 100%); /* @todo */
  color: #fff;
}

code {
  color: #fff;
  font-style: italic;
}

p {
  font-size: 18px;
}

div {
  font-size: 18px;
}

hr {
  background-color: #fff;
}

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:disabled {
  background: transparent;
  box-shadow: none;
  color: #fff;
  border: 2px solid white;
}

.btn-primary:hover {
  color: #fff;
  background: #FED670;
  border: 2px solid #FED670;
}

.btn-secondary, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:disabled {
  background: white;
  border-color: black;
  box-shadow: none;
  color: black;
  border: 2px solid black;
}

.btn-secondary:hover {
  color: black;
  border-color: #ffffff;
  background: #ffffff;
  border: 2px solid black;
}

.container {
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
}

.home-punchline-domain {
  color: #FED670;
}

.img-thumbnail {
  background-color: transparent;
}

.modal-content {
  color: black;
}

.span-link:hover {
  color: #1c1b1b;
  text-decoration: none;
  cursor: pointer;
}

.span-link {
  text-decoration: underline;
}

.Vue-Toastification__toast--info {
  background-color: #464555;
}

.Vue-Toastification__toast--success {
  background-color: #00925D;
}

.Vue-Toastification__toast--error {
  background-color: #DF2E00;
}

@media only screen and (max-width: 767px) {
  #sidebar-container {
    margin-bottom: 15px;
  }
}